{{!-- pages/index.hbs --}} {{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"
}} {{#*inline "content-block"}}
<div class="fb-grid__container">
  <div class="fb-grid__row">
    <div class="fb-grid__col-12 page__header">
      <div class="page__header__content">
        <h1>HOME</h1>
      </div>
    </div>
    <div class="fb-grid__col-12">
      <div class="content content--blue content__card">
        <h1>Welcome to Gradient !</h1>
        <p>We're a platform where users can upload their own projects so other students and teachers can take a look. It's also
          possible for companies to see the skills of our students.</p>
        <p>You need an account to interact with other students, please
          <strong><a href="/login" class="link__reg">log in</a></strong> or
          <strong><a href="/register" class="link__reg">sign up</a></strong>.</p>
        <h2>Projects</h2>
        <p>You're able to upload projects on the
          <strong><a href="/project" class="link__reg">project</a></strong> page. </p>
        <p>Interact with other using by posting a comment or liking their project. Want to see more of them ? Check out their
          profile and drop a follow if you like what they make !</p>
        <h2>Departments</h2>
        <p>All of the departments that our school has to offer are available over at
          <strong><a href="/department" class="link__reg">departments</a></strong>. Each department have their own specializations, which is nicely described in seperate pages. If you want to keep up to date with your favorite department, their are links to the blog and social media available.</p>
      </div>
    </div>
  </div>
</div>
{{/inline}} {{#*inline "scripts-block"}} {{/inline}} {{/layouts/base}}